<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
  	<div class="jumbotron">
      <h2>Case Details</h2>
      Opened: <div class="text-right" ng-bind="formatDate(case.opened) | date:'MM/dd/yyyy'"></div>
  		<div class="">{{case.name.last}}, {{case.name.first}}</div>
  		

  			<div class="">{{case.address}}</div>
  		
  			<div class="">{{case.phone}}</div>
  		
  			<div class="">{{case.email}}</div>
  	</div>
  	    </div>
    <div class="col-md-7">
  	<div>
  	    <tabset>
          <tab heading="Static title">
            <tab-heading>Notes</tab-heading>
            <ul class="list-group">
            	<li ng-repeat="note in case.notes" class="list-group-item">
            	    <div class="row">
            	    	<div class="col-md-2"  ng-bind="formatDate(note.date) | date:'MM/dd/yyyy'"></div>
            	    	<div class="col-md-10">{{note.text}}</div>
            	    </div>
            	</li>
            </ul>
          </tab>
          <tab>
            <tab-heading>Tasks</tab-heading>
            <ul class="list-group">
            	<li ng-repeat="task in case.tasks" class="list-group-item">
            	    <div class="row">
            	    	<div class="col-md-3"  >
            	    		<p>Due Date: <span ng-bind="formatDate(task.date) | date:'MM/dd/yyyy'"></span></p>
            	    	</div>
            	    	<div class="col-md-10">{{task.description}}</div>
            	    </div>
            	</li>
            </ul>
          </tab>
          </tab>
        </tabset>
    </div>
  	
  	
  </div>
  <div class="col-md-1"></div>
</div>
</div>
